<!-- <div style="margin-top: 10px"><textarea id="cfg" rows="5" style="width: 600px"></textarea></div>
<button class="btn btn-default" id="btn-convert">Convert to tree</button>
<div id="tree-display"><div> -->
<div class="container-fluid">
  <div class="row">
  <div class="col-8">
    <%= form_tag ajax_add_rule_path, remote: true do %>
      <div class="form-group">
        <%= label_tag :cnf %>
        <%= text_area_tag :cnf, nil, class: 'form-control' %>
      </div>
        <%= submit_tag 'Add', class: 'btn btn-info' %>
    <% end %>

    <%= form_tag ajax_parse_sentence_path, remote: true do %>
      <div class="form-group">
        <%= label_tag :sentence %>
        <%= text_area_tag :sentence, nil, class: 'form-control' %>
      </div>
        <%= submit_tag 'Parse', class: 'btn btn-info' %>
    <% end %>

    <div class="cky-table"></div>
  </div>
  <div class="col-4 list-rules">
    <%= render partial: "rules", locals: {rules: @rules} %>
  </div>
  </div>
</div>
