<div class="container-fluid">
  <div class="row">
  <div class="col-8">
    <%= form_tag ajax_add_rule_path, remote: true do %>
      <div class="form-group">
        <%= label_tag :cnf %>
        <%= text_field_tag :cnf, nil, class: 'form-control' %>
      </div>
        <%= submit_tag 'Add', class: 'btn btn-info' %>
    <% end %>

    <%= form_tag ajax_parse_sentence_path, remote: true do %>
      <div class="form-group">
        <%= label_tag :sentence %>
        <%= text_field_tag :sentence, nil, class: 'form-control' %>
      </div>
        <%= submit_tag 'Parse', class: 'btn btn-info' %>
    <% end %>

    <div id="tree-display"></div>
    <div class="cky-table"></div>
  </div>
  <div class="col-4 list-rules">
    <%= render partial: "rules", locals: {rules: @rules} %>
  </div>
  </div>
</div>

<script type="text/javascript"/>
  $('.form-control').keypress(function(event){
    var keycode = (event.keyCode ? event.keyCode : event.which);
    if(keycode == '13'){
        $(this).submit();
    }
  });
</script>
